{% extends 'FlorProjectFrontendBundle:Common:gift_manager.html.twig' %}
{% block block_content %}
    <!-- Portfolio block BEGIN -->
    <div class="portfolio-block content content-center" id="portfolio">
        <div class="container">
            <h5 style="text-transform: uppercase"> {{  giftType }} </h5>
            <p> EN LOVENLOCK PONEMOS EL MUNDO A TUS PIES, LAS EMOCIONES SON COSA TUYA </p>
            <br />
            <p>
                Elige una familia de {{  giftType }}
            </p>
        </div>
        <div class="row">

            {% if gifts|length == 0 %}
                <div style="vertical-align: center; text-align: center">
                    No existen regalos que cumplan con estos criterios
                </div>
             {% endif %}
            {% for gift in gifts %}
            <div class="item">
                {% set gift_image_path = 'upload/media/' ~ gift.media %}
                <img src="{{ gift_image_path|imagine_filter('tn_catalog') }}" alt="NAME" class="img-responsive">
                <a href="{{ path('step1', {'giftType': giftType, 'family': gift.family.id}) }}" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>FAMILIA</strong>

                        <strong>{{  gift.family.familyName }}</strong>
                        <em>  </em>
                        <b onclick="document.location='{{ path('step1', {'giftType': giftType, 'family': gift.family.id}) }}';">Ver más</b>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
    <p class="wizard-guide"> <a href="{{ path('flor_project_frontend_catalog_homepage') }}"><< Anterior </a> </p>
    <!-- Portfolio block END -->
{% endblock %}
