{% extends 'FlorProjectBackendBundle:Util:form.html.twig' %}

{% set page_title="Eliminar Artículo" %}
{% set title_small="" %}

{% block breadcrumb %}
    <li>
        <i class="fa fa-home"></i>
        <a href="{{ path('backend_dashboard') }}">Inicio</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ path('backend_family_list') }}">Blog</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="#">Eliminar Artículo</a>
    </li>
{% endblock %}

{% block page_level_plugins_styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/nivalmetronictemplate/assets/global/plugins/select2/select2.css') }}"/>
{% endblock %}

{% block page_level_plugin_scripts %}
    <script type="text/javascript" src="{{ asset('bundles/nivalmetronictemplate/assets/global/plugins/select2/select2.min.js') }}"></script>
{% endblock %}

{% block page_level_script %}
    <script src="{{ asset('bundles/nivalmetronictemplate/assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/nivalmetronictemplate/assets/admin/layout/scripts/layout.js') }}" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            //Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
        });
    </script>
{% endblock %}

{% block form_header %}
    <div class="caption">
        <i class="icon-gift font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo bold uppercase">Eliminar Artículo</span>
        <span class="caption-helper">eliminación de artículo</span>
    </div>
{% endblock %}

{% block form_body %}

    <form action="{{ path('backend_blog_delete', {'id' : entity.id}) }}" method="POST" class="form-horizontal">
        <div class="form-body">
            <input type="hidden" value="{{ entity.id }}" name="blog_id"/>
            <h4>Está a punto de eliminar un artículo, ¿está usted seguro?</h4>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-4">
                    <button type="submit" class="btn green">Aceptar</button>
                    <a href="{{ path('backend_blog') }}" class="btn default">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

